<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>

    <!-- include the library -->
    <script src="https://unpkg.com/html5-qrcode@2.0.9/dist/html5-qrcode.min.js"></script>

    <style>
        #qr-reader {
            margin: 0 auto;
            width: 95%;
            max-width: 600px;
        }
    </style>
</head>
<body>
    
    <!-- https://blog.minhazav.dev/QR-and-barcode-scanner-using-html-and-javascript/#scan-using-file -->

    <div id="qr-reader"></div>
    <p id="result"></p>

    <script defer>
        
        function onScanSuccess(decodedText, decodedResult) {
            const result = document.querySelector("#result")
            result.textContent = `Code scanned = ${ decodedText } \n ${ JSON.stringify(decodedResult) }`, 

            console.log(`Code scanned = ${decodedText}`, decodedResult);
        }

        const html5QrcodeScanner = new Html5QrcodeScanner("qr-reader", { fps: 10, qrbox: 250 });
        html5QrcodeScanner.render(onScanSuccess);

    </script>

</body>
</html>